<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unit Convertor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Unit Convertor</h1>
    <main>
      <nav>
        <div
          class="{% if request.args.get('app') == 'length'%}active{% endif %}"
        >
          <a href="?app=length"> Length</a>
        </div>
        <div
          class="{% if request.args.get('app') == 'weight'%}active{% endif %}"
        >
          <a href="?app=weight">Weight</a>
        </div>
        <div
          class="{% if request.args.get('app') == 'temperature'%}active{% endif %}"
        >
          <a href="?app=temperature">Temperature</a>
        </div>
      </nav>
      <div class="calculator">
        <form method="post">
          <div class="labels">
            <label for="input">Input: </label>
            <input type="number" name="fromValue" />
            <select name="fromUnit">
              <option value="mtr">Meters</option>
            </select>
          </div>
          <div class="labels">
            Convert To
            <select name="toUnit">
              <option value="mtr">Meters</option>
            </select>
          </div>
          <div class="labels">
            <input type="submit" value="Calculate" />
          </div>
          <div class="labels">Output: <span class="output"></span></div>
        </form>
      </div>
    </main>
  </body>
</html>
